.parent{
     display: flex;
}
.Right{
     display: flex;
     position: absolute;
     right: 0;
}
.labels{
     display: flex;
}
.bot{
     display: flex;
     justify-content: space-between;
}
.top{
     display: flex;
     justify-content: space-between;
}
.darkbackground{
     background-color: darkblue;
}
.bluebackground{
     background-color: #0d6efd;
}